.place__paragraph
{
	margin:0px;
	padding-bottom: 24px;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: 163%;
}

@media screen and (max-width: 768px)
{
	.place__paragraph
	{ 
		font-size: 16px;
	 }
}
 
 @media screen and (max-width: 320px)
{
	.place__paragraph:last-child
	{
		padding-bottom: 0px; 
	}
}
